<h4>Редактирование заметки</h4>
<form role="form" name="form">
  <div class="form-group">
    <label for="label">Название</label>
    <input type="text" required class="form-control" id="label" placeholder="Введите название" data-ng-model="note.label"></input>
  </div>
  <div class="form-group">
    <label for="label">Папка</label>
    <select data-ng-model="newFolder" class="form-control" required data-ng-options="folder.id as folder.label for folder in folders"></select>
  </div>
  <div class="form-group">
    <label for="body">Содержимое</label>
    <div ng-required="true" text-angular text-angular-name="body" id="body" data-ng-model="note.body"></div>
  </div>
</form>
<button data-ng-click="save()" data-ng-disabled="form.$invalid" class="btn btn-primary">Сохранить</button>
<button data-ng-click="cancel()" class="btn">Отмена</button>
<button data-ng-click="delete()" data-ng-show="note.id !== undefined" class="btn btn-danger">Удалить</button>
